In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
Bank=pd.read_csv('C:/Users/user/Desktop/intellipaat/Datasets/bank-additional-full.csv',sep=';')

In [3]:
Bank.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41199 entries, 0 to 41198
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             41195 non-null  float64
 1   job             41194 non-null  object
 2   marital         41194 non-null  object
 3   education       41194 non-null  object
 4   default         41195 non-null  object
 5   housing         41196 non-null  object
 6   loan            41195 non-null  object
 7   contact         41195 non-null  object
 8   month           41196 non-null  object
 9   day_of_week     41196 non-null  object
 10  duration        41196 non-null  float64
 11  campaign        41196 non-null  float64
 12  pdays           41196 non-null  float64
 13  previous        41196 non-null  float64
 14  poutcome        41194 non-null  object
 15  emp.var.rate    41196 non-null  float64
 16  cons.price.idx  41195 non-null  float64
 17  cons.conf.idx   41196 non-null  float64
 18  euribor3m       41196 non-null  float64
 19  nr.employed     41196 non-null  float64
 20  y               41196 non-null  object
dtypes: float64(10), object(11)
memory usage: 6.6+ MB

In [4]:
Bank.drop(labels='default', axis=1,inplace=True)

In [5]:
Bank.head(2)

,age,job,marital,education,housing,loan,contact,month,day_of_week,duration,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56.0,housemaid,married,basic.4y,no,no,telephone,may,mon,261.0,1.0,999.0,0.0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57.0,services,married,high.school,no,no,telephone,may,mon,149.0,1.0,999.0,0.0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no

In [6]:
Bank.y.value_counts()

no     36556
yes     4640
Name: y, dtype: int64

In [7]:
Bank.dropna(inplace=True)

In [8]:
Bank.rename(columns={'y':'Default'}, inplace = True)

In [9]:
Bank.shape

(41190, 20)

In [ ]:
#remove outliers

In [10]:
Bank_IND=Bank.iloc[0: , 0:19]

In [11]:
Bank_IND.head(2)

,age,job,marital,education,housing,loan,contact,month,day_of_week,duration,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed
0,56.0,housemaid,married,basic.4y,no,no,telephone,may,mon,261.0,1.0,999.0,0.0,nonexistent,1.1,93.994,-36.4,4.857,5191.0
1,57.0,services,married,high.school,no,no,telephone,may,mon,149.0,1.0,999.0,0.0,nonexistent,1.1,93.994,-36.4,4.857,5191.0

In [12]:
Bank_IND['age'].dtype

dtype('float64')

In [13]:
OBJlist=[]
for col in Bank_IND.columns:
    if(Bank_IND[col].dtype=='object'):
        OBJlist.append(col)

In [14]:
INTlist=[]
for col in Bank_IND.columns:
    if(Bank_IND[col].dtype!="object"):
        INTlist.append(col)

In [15]:
Bank_DEP=Bank.Default

In [16]:
from sklearn.preprocessing import LabelEncoder
labelencoder=LabelEncoder()

In [17]:
for i in OBJlist:
    Bank_IND[i]=labelencoder.fit_transform(Bank_IND[i])

In [18]:
Bank_IND.head(2)

,age,job,marital,education,housing,loan,contact,month,day_of_week,duration,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed
0,56.0,3,1,0,0,0,1,6,1,261.0,1.0,999.0,0.0,1,1.1,93.994,-36.4,4.857,5191.0
1,57.0,7,1,3,0,0,1,6,1,149.0,1.0,999.0,0.0,1,1.1,93.994,-36.4,4.857,5191.0

In [19]:
#Standard Scaler
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

In [20]:
Bank_IND[INTlist]=scaler.fit_transform(Bank_IND[INTlist])

In [21]:
Bank_IND.head(2)

,age,job,marital,education,housing,loan,contact,month,day_of_week,duration,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed
0,1.532170,3,1,0,0,0,1,6,1,0.010475,-0.565943,0.195409,-0.34956,1,0.648136,0.722566,0.88647,0.712511,0.331761
1,1.628088,7,1,3,0,0,1,6,1,-0.421507,-0.565943,0.195409,-0.34956,1,0.648136,0.722566,0.88647,0.712511,0.331761

In [22]:
#VIF
from statsmodels.stats.outliers_influence import variance_inflation_factor

In [23]:
Bank_IND.columns

Index(['age', 'job', 'marital', 'education', 'housing', 'loan', 'contact',
       'month', 'day_of_week', 'duration', 'campaign', 'pdays', 'previous',
       'poutcome', 'emp.var.rate', 'cons.price.idx', 'cons.conf.idx',
       'euribor3m', 'nr.employed'],
      dtype='object')

In [24]:
X=Bank_IND
vif_Bank=pd.DataFrame()
vif_Bank["columns"]=X.columns
vif_Bank["vif"]=[variance_inflation_factor(X.values,i) for i in range(len(X.columns))]
print(vif_Bank)

           columns        vif
0              age   1.191405
1              job   2.088266
2          marital   5.193862
3        education   4.089287
4          housing   2.160165
5             loan   1.203238
6          contact   3.619206
7            month   6.885872
8      day_of_week   2.963439
9         duration   1.011995
10        campaign   1.040654
11           pdays   3.396866
12        previous   3.179326
13        poutcome  13.234624
14    emp.var.rate  42.522799
15  cons.price.idx   9.652959
16   cons.conf.idx   3.547529
17       euribor3m  90.815649
18     nr.employed  41.011647

In [25]:
Bank_IND.drop(labels='nr.employed', axis=1, inplace=True)

In [26]:
X=Bank_IND
vif_Bank=pd.DataFrame()
vif_Bank["columns"]=X.columns
vif_Bank["vif"]=[variance_inflation_factor(X.values,i) for i in range(len(X.columns))]
print(vif_Bank)

           columns        vif
0              age   1.191400
1              job   2.088260
2          marital   5.177028
3        education   4.089247
4          housing   2.160158
5             loan   1.202942
6          contact   3.294751
7            month   5.445067
8      day_of_week   2.961822
9         duration   1.011716
10        campaign   1.036441
11           pdays   3.341479
12        previous   3.169340
13        poutcome  12.925942
14    emp.var.rate  42.521210
15  cons.price.idx   5.195196
16   cons.conf.idx   1.415160
17       euribor3m  32.537198

In [27]:
Bank_IND.drop(labels='emp.var.rate', axis=1, inplace=True)

In [28]:
X=Bank_IND
vif_Bank=pd.DataFrame()
vif_Bank["columns"]=X.columns
vif_Bank["vif"]=[variance_inflation_factor(X.values,i) for i in range(len(X.columns))]
print(vif_Bank)

           columns        vif
0              age   1.190740
1              job   2.087305
2          marital   5.172257
3        education   4.088987
4          housing   2.158547
5             loan   1.202687
6          contact   3.142290
7            month   4.782980
8      day_of_week   2.956884
9         duration   1.011438
10        campaign   1.033744
11           pdays   3.231412
12        previous   3.090212
13        poutcome  12.294280
14  cons.price.idx   3.020114
15   cons.conf.idx   1.356451
16       euribor3m   2.909118

In [29]:
Bank_IND.drop(labels='poutcome', axis=1, inplace=True)

In [30]:
Bank_IND.drop(labels='contact', axis=1, inplace=True)

In [31]:
Bank_IND.drop(labels='month', axis=1, inplace=True)

In [32]:
Bank_IND.drop(labels='day_of_week', axis=1, inplace=True)

In [33]:
X=Bank_IND
vif_Bank=pd.DataFrame()
vif_Bank["columns"]=X.columns
vif_Bank["vif"]=[variance_inflation_factor(X.values,i) for i in range(len(X.columns))]
print(vif_Bank)

           columns       vif
0              age  1.103394
1              job  1.991575
2          marital  3.452617
3        education  3.299655
4          housing  1.969411
5             loan  1.188593
6         duration  1.009303
7         campaign  1.028961
8            pdays  1.613120
9         previous  1.774404
10  cons.price.idx  2.109558
11   cons.conf.idx  1.217408
12       euribor3m  2.786414

In [34]:
#train test split
from sklearn.model_selection import train_test_split

In [35]:
x_train,x_test,y_train,y_test=train_test_split(Bank_IND,Bank_DEP,test_size=0.25,random_state=25)

In [36]:
#Logistic regression
from sklearn.linear_model import LogisticRegression

In [37]:
Model_LogR=LogisticRegression()

In [38]:
Model_LogR.fit(x_train,y_train)

LogisticRegression()

In [39]:
y_pred=Model_LogR.predict(x_test)

In [40]:
#confusion matrix
from sklearn.metrics import confusion_matrix,accuracy_score

In [41]:
confusion_matrix(y_test,y_pred)

array([[8930,  207],
       [ 726,  435]], dtype=int64)

In [42]:
accuracy_score(y_test,y_pred)

0.909399883472519